.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 15px;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 15px 1px;
  padding: 10px;
  align-items: center;
  flex: 1 1 auto;
}
.pictures {
  width: 90%;
  height: 50%;
}
.text {
  font-size: small;
  max-height: 25%;
  width: 95%;
  padding-left: 10px;
}
