<div class="container">
  <h1 class="table-title">Categories dashboard</h1>
  <table>
    <tbody>
      <tr class="col-names">
        <th class="col-name">ID</th>
        <th class="col-name">Name</th>
        <th class="col-name">Edit</th>
        <th class="col-name">Delete</th>
      </tr>
      <tr *ngFor="let category of categories$ | async">
        <td class="id">{{ category.id }}</td>
        <td class="name">{{ category.types }}</td>

        <td class="btn">
          <button
            mat-stroked-button
            color="primary"
            routerLinkActive="active"
            (click)="editCategory(category, category.id)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteCategory(category.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
