.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.table-title {
  margin-bottom: 15px;
}
th.col-name {
  padding-bottom: 15px;
}
.name {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0 10px;
}
.btn {
  padding: 0 15px;
}
