<div class="container">
  <h1 class="table-title">Dishes dashboard</h1>
  <table>
    <tbody>
      <tr class="col-names">
        <th class="col-name">ID</th>
        <th class="col-name">Name</th>
        <th class="col-name">Edit</th>
        <th class="col-name">Delete</th>
      </tr>
      <tr *ngFor="let dish of dishes$ | async">
        <td class="id">{{ dish.id }}</td>
        <td class="name">{{ dish.name }}</td>

        <td class="btn">
          <button
            mat-stroked-button
            color="primary"
            (click)="editDish(dish, dish.id)"
          >
            Edit
          </button>
        </td>
        <td>
          <button mat-stroked-button color="warn" (click)="deleteDish(dish.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
