<div class="container">
  <h1 class="table-title">Dishes dashboard</h1>

  <!-- <mat-accordion> -->
  <mat-expansion-panel class="categories-list" hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Categories of dishes </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel
      class="dishes-by-categories"
      *ngFor="let category of categories.data"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div (click)="onSelect(category.id)">{{ category.types }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <div *ngFor="let dish of category.dishes" class="dishes">
            <div>{{ dish.name }}</div>
          </div> -->
      <div class="dishes-container">
        <table
          class="dishes"
          mat-table
          [dataSource]="category.dishes"
          class="mat-elevation-z8"
        >
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="name">Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-stroked-button
                color="primary"
                (click)="editDish(element.id)"
              >
                Edit
              </button>
            </td>
          </ng-container>

          <!-- Del Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-stroked-button
                color="warn"
                (click)="deleteDish(element.id)"
              >
                Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  <!-- </mat-accordion> -->

  <!-- <tr *ngFor="let dish of dishes$ | async">
        <td class="id">{{ dish.id }}</td>
        <td class="name">{{ dish.name }}</td>

        <td class="btn">
          <button
            mat-stroked-button
            color="primary"
            (click)="editDish(dish.id)"
          >
            Edit
          </button>
        </td>
        <td>
          <button mat-stroked-button color="warn" (click)="deleteDish(dish.id)">
            Delete
          </button>
        </td>
      </tr> -->
  <!-- </tbody> -->
  <!-- </table> -->
</div>

<!-- <div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary">Edit</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="warn">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div> -->

<!-- <div class="container">
  <h1 class="table-title">Dishes dashboard</h1>
  <table>
    <tbody>
      <tr class="col-names">
        <th class="col-name">ID</th>
        <th class="col-name">Name</th>
        <th class="col-name">Edit</th>
        <th class="col-name">Delete</th>
      </tr>
      <tr *ngFor="let dish of dishes$ | async">
        <td class="id">{{ dish.id }}</td>
        <td class="name">{{ dish.name }}</td>

        <td class="btn">
          <button
            mat-stroked-button
            color="primary"
            (click)="editDish(dish.id)"
          >
            Edit
          </button>
        </td>
        <td>
          <button mat-stroked-button color="warn" (click)="deleteDish(dish.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
