.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 800px;
}

.table-title {
  margin-bottom: 15px;
}

.categories-list {
  width: 90%;
}

.dishes-by-categories {
  width: 90%;
}
.dishes-container {
  width: 650px;
  display: flex;
}
table {
  width: 90%;
}

.mat-elevation-z8 {
  border: white 1px solid;
  width: 85%;
  padding-left: 60px;
}

::ng-deep.mat-elevation-z8.col {
  width: 200px;
}

.btn {
  padding: 0 15px;
}

mat-expansion-panel {
  padding: 0 30px;
}

.mat-elevation-z8 ::ng-deep .mat-column-name {
  background: red;
  width: 300px;
  padding-left: 40px;
}
