.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 800px;
}

.table-title {
  margin-bottom: 15px;
}

.categories-list {
  width: 90%;
}

.dishes-by-categories {
  width: 90%;
}
.dishes-container {
  width: 650px;
  display: flex;
}
table {
  width: 90%;
}
/* th.col-name {
  padding-bottom: 15px;
}
td.name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
} */
.btn {
  padding: 0 15px;
}
