<div class="container">
  <div class="content">
    <div class="contacts">
      <p>
        <mat-icon aria-hidden="false">place</mat-icon>
        Jones Street, Omaha, NE 68102
      </p>
      <p>
        <mat-icon aria-hidden="false">query_builder</mat-icon>
        Working Hours
      </p>
      <p>Mondey - Friday 10-22 pm</p>
      <p>Saturday & Sunday 11-23 pm</p>
      <p>
        Please reach out to us info@thekaneko.org with any questions or
        concerns.
      </p>
    </div>
    <div class="connects">
      <h2>Stay Connected</h2>
      <ul class="media">
        <li>Facebook</li>
        <li>Inatagram</li>
        <li>Telegram</li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div>
      © 2021 PLEASENT TO THE TASTE | Privacy Policy | Website by Somebody
    </div>
  </div>
</div>
